{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{template "title" .}} - Forum</title>

    <!-- styles -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/static/img/favicon.ico"
      type="image/x-icon"
    />
    <!-- fonts -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700"
    />
  </head>

  <body>
    <!-- navbar -->
    {{template "header" .}}

    <!-- main content -->
    <main>
      <div class="container">
        <!-- {{block "aside" .}} Default sidebar {{end}}  -->
        {{template "main" .}}
      </div>
    </main>

    <!-- footer -->
    {{template "footer" .}}

    <!-- main script -->
    <script src="../static/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
{{end}}
