{{template "base" .}} 

{{define "title"}}Profile - Liked posts - {{.User.Username}}{{end}} 

{{define "main"}} 


<h2>{{.user.Username}}'s liked posts</h2>

{{if .posts}} {{range .posts}}
<div class="card mb-3" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ124yi5yS06QmpyvRNRu4I3ql1x124DXfJ7A&usqp=CAU"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{.Title}}</h5>
        <p class="card-text">{{.Content}}</p>

        <p class="card-text">
          <small class="text-muted">Author: {{.Username}}</small>
        </p>

        <a href="/post/{{.PostID}}">{{.Title}}</a>
        <p class="card-text">Published: {{.CreatedAt}}</p>

        <!-- post vote part -->
        <div>
          <!-- {{.VoteLike}} -->
          <!-- <form action="/post/vote/{{.PostID}}" method="POST">  
            <input type="text" value="/" name="path" hidden>               
            <input type="submit" value="like" />               
           </form>                    -->
          <p class="like{{.PostID}}">{{.VoteLike}}</p>
          <!-- <form action=""> -->
          <input
            type="text"
            name="vote"
            id="voteLike{{.PostID}}"
            value="like"
            hidden
          />
          <input
            type="text"
            name="post_id"
            id="postIDLike{{.PostID}}"
            value="{{.PostID}}"
            hidden
          />
          <input
            type="submit"
            value="like"
            onclick="votePost(document.getElementById('postIDLike'+{{.PostID}}).value, document.getElementById('voteLike'+{{.PostID}}).value)"
          />
          <!-- </form> -->
        </div>
        <div>
          <!-- {{.VoteDislike}} -->
          <!-- <form action="/post/vote/{{.PostID}}" method="Post">                 
            <input type="text" value="/" name="path" hidden> 
            <input type="submit" value="dislike" />
          </form>           -->
          <p class="dislike{{.PostID}}">{{.VoteDislike}}</p>
          <input
            type="text"
            name="vote"
            id="voteDislike{{.PostID}}"
            value="dislike"
            hidden
          />
          <input
            type="text"
            name="post_id"
            id="postIDDislike{{.PostID}}"
            value="{{.PostID}}"
            hidden
          />
          <input
            type="submit"
            value="dislike"
            onclick="votePost(document.getElementById('postIDDislike'+{{.PostID}}).value, document.getElementById('voteDislike'+{{.PostID}}).value)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
{{end}} {{else}}
<p>Nothing is here..for now!</p>
{{end}} {{end}}
<script src="/static/js/postVote.js"></script>